<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Find Abroad</title>
    </head>
    <body>
        <!-- HEADER -->
        <header class="header">
            <div class="logo">
                <i class="fas fa-search"></i>
                <p class="find">Find </span> <br> <span class="abroad">Abroad</span>
                </p>
            </div>

            <!-- MENU -->
            <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa fa-bars"></i></button>
                    </div>
            </div>
            
        </header>

        <!-- HERO -->
        <div class="hero">
            <h1>A boring company</h1>
            <p>Check above what we can offer to you</p>
        </div>

        <!-- CONTAINER -->
        <container class="container">
            <!-- GALERY -->
            <div class="galery">
                <div class="galery_box">
                    <figure></figure>
                    <h3>Better</h3>
                    <legend>Lorem ipsum dolor sit amet, consectetur adipiscing elit</legend>
                </div>

                <div class="galery_box">
                    <figure></figure>
                    <h3>Stronger</h3>
                    <legend>Lorem ipsum dolor sit amet, consectetur adipiscing elit</legend>
                </div>

                <!-- <div class="galery_box">
                    <figure></figure>
                    <h3>Harder</h3>
                    <legend>Lorem ipsum dolor sit amet, consectetur adipiscing elit</legend>
                </div>
    
                <div class="galery_box">
                    <figure></figure>
                    <h3>Faster</h3>
                    <legend>Lorem ipsum dolor sit amet, consectetur adipiscing elit</legend>
                </div> -->
            </div>
            
            <!-- PRODUCTS -->
            <div class="products_text">
                <h1>Products that fit your needs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <!-- CAROUSEL -->
            <div class="carousel">

            </div>

        </container>

        <footer class="footer">

        </footer>
            
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>